zz/* About Us Section
--------------------------------*/
#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-container .background {
  min-height: 300px;
  background: url(../img/aboutus.jpg) center top no-repeat;
  margin-bottom: 10px;
}

#about .about-container .content {
  background: #fff;
  font-size: 14px;
  color: #666666;
}

#about .about-container .order-1 img
{
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 10px;
    text-align: center;
  }
  #about .about-container .content {
    padding-top: 10px;
    text-align: center;
  }
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 15px 0;
}

#about .about-container .icon-box img{
  padding-bottom: 10px;
  max-width: 100%;
}

#about .about-container .icon-box .row{
  padding-top: 10px;
}

#about .about-container .icon-box .icon i {
  color: #1EB26B;
  font-size: 24px;
}

#about .about-container .icon-box .title {
  margin-left: 0;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #555;
}

#about .about-container .icon-box .title a {
  color: #111;
}

#about .about-container .icon-box .description {
  line-height: 24px;
  font-size: 18px;
  color: #666666;
}

@media (max-width: 768px){
  #about .about-container .icon-box img{
  padding-bottom: 10px;
  max-width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
}

/* Facts Section
--------------------------------*/
#facts {
  background: #f7f7f7;
  padding: 30px 0 10px 0;
}

#facts .section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
  padding-bottom: 20px;
}

#facts .counters1 span {
  font-size: 40px;
  display: block;
  color: #1EB26B;
}

#facts .counters1 p {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Lora", sans-serif;
  font-size: 14px;
  color: #666666;
}

#facts .counters2 span {
  font-size: 40px;
  display: block;
  color: #1EB26B;
}

#facts .counters2 p {
  margin: 0 0 10px 0;
  font-family: "Lora", sans-serif;
  font-size: 14px;
  color: #666666;
}
