/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "poppins", sans-serif;
}

a {
  color: #fff;
}

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #1EB26B;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  color: #274D6C;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  border: 2px solid #274D6C;
}

.get-started-btn:hover {
  background: #65B5C7;
  color: #274D6C;
  border-color: #274D6C;
}

@media (max-width: 990px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 10px 0;
  height: 73px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(255, 255, 255, 0.8);
}

#header #logo {
  float: left;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding-top: 0;
  margin: 0;
  height: 50px;
  width: auto;
}

@media (max-width: 768px) {
  #header #logo img {
    max-height: 70px;
  }
}

@media (min-width: 768px) and (max-width:990px) {
  #nav-menu-container {
    float: right;
  }
}

#header.header-fixed {
  background: rgb(255, 255, 255);
  padding: 10px 0;
  height: 72px;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;
}

@media (max-height: 500px) {
  #intro {
    height: 150vh;
  }
}

#intro .carousel, #intro .carousel-inner, #intro .carousel-item, #intro .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 150px;
  top: 0;
  left: 50px;
  right: 50px;
}

#intro .container {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-top: 280px;
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

.btn-get-started {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 190px;
  color: #fff;
  background: #1EB26B;
}

.btn-get-started:hover {
  background: #fff;
  color: #1EB26B;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 6px 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

@media (max-width: 990px) {
  #nav-menu-container {
    display: none;
  }
}



/* Nav Meu Styling */
.nav-menu a {
  padding: 3px 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #1EB26B;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul li:first-child {
  display: block;
  padding-top: 4px;
  margin-top: 4px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 56px;
  bottom: 0;
  left: 0;
  background-color: #1EB26B;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-menu ul li a{
color: #1EB26B;
font-size: 15px;
  text-align: left;
padding-left: 20px;
padding-top: 2px;
  line-height: 30px;
    height: 36px;
}

.nav-menu ul li {
    background: #eee;
    min-width: 170px;
    width: auto;
  transition: 0.3s;
  display: block;
  text-transform: none;
  padding: 4px;
}

.nav-menu ul li a:hover {
  display: block;
  background: #1EB26B;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

.nav-menu-container ul li .underline{
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.nav-menu-container ul li.active .underline{
  width: 100%;
  background-color: #1EB26B;
}

.nav-menu-container ul li:hover .underline{
  width: 100%;
  background-color: #1EB26B;
}

.nav-menu-container ul li:active .underline{
  transition: none;
  background-color: #1EB26B;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #1EB26B;
}

@media (max-width: 990px) {
  #mobile-nav-toggle {
    display: inline;
  }
}


/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #1EB26B;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #1EB26B;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #1EB26B;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #1EB26B;
}

#mobile-nav ul .menu-item-active {
  color: #1EB26B;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 0 0;
  font-family: "poppins";
  padding: 30px 0 0 0;
}

.section-bg {
  background-color: #fafafb;
}

.section-title {
  padding-top: 0;
  text-align: center;
  padding-bottom: 60px;
}

.section-title h2 {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 22px;
  margin: 0;
  background: #f5f9fc;
  color: #1EB26B;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 60px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 40px;
  font-weight: 700;
  color: #555;
}

/*blog
------------------------------*/
#blog {
  padding: 60px 0 40px 0;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #1EB26B;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a{
  color: #fff;
}