/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 30px 10px;
  background-color: #eee;
  background-position: center center;
  background-size: cover;
  position: relative;
  font-family: "Lora";
}

.testimonials .section-title{
  padding-bottom: 20px;
}

.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 130px;
  border-radius: 10%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 3px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #666666;
  margin: 0 0 10px 0;
  font-family: "Lora";
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #1EB26B;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-size: 14px;
  margin: 0 auto 10px auto;
  color: #666666;
  font-family: "Lora";
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255) !important;
}

.testimonials .owl-dot.active {
  background-color: #1EB26B !important;
}

@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*-- Services section --*/
.service .feature-grid {
  margin-top: 30px; }

.service .feature-body {
  transition: 0.3s ease-in;
  border: 1px solid #e6e6e6;
  background: #fafafa;
  border-radius: 5px;
  height: 100%;
  padding: 15px;
}

.service .feature-body:hover {
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right; }

.service .service1:hover {
  background-image:  linear-gradient(to right, rgb(30, 178, 107), rgb(30, 178, 107)),url('/media/images/services-trash-for-trade-shredded-plastic.jpg'); }

.service .service2:hover {
  background-image: linear-gradient(to right, rgb(30, 178, 107), rgb(30, 178, 107)), url('/media/images/services-trash-for-trade-plastic-pellets.jpg'); }

.service .service3:hover {
  background-image: linear-gradient(to right, rgb(30, 178, 107), rgb(30, 178, 107)), url('/media/images/services-trash-for-trade-machines.jpg'); }

.service .service4:hover {
  background-image: linear-gradient(to right, rgb(30, 178, 107), rgb(30, 178, 107)), url('/media/images/services-trash-for-trade-construction-materials.jpg'); }

.service .service5:hover {
  background-image: linear-gradient(to right, rgb(30, 178, 107), rgb(30, 178, 107)), url('/media/images/services-trash-for-trade-furnitures.jpg'); }

.service :hover .service6:hover {
  background-image: linear-gradient(to right, rgb(30, 178, 107), rgb(30, 178, 107)), url('/media/images/services-trash-for-trade-custom-designs.jpg'); }

.service .feature-body:hover h3.feature-titel {
  color: #fff;
  transition: 0.3s ease; }

.service .feature-body:hover p.feature-text {
  color: #fff;
  transition: 0.3s ease; }

.service .feature-body:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  color: #fff; }

.service h3.feature-titel {
  transition: 0.3s ease;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #111;
 }

.service p.feature-text {
  transition: 0.3s ease;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
 }

@media (max-width: 1280px) {
  .service .feature-info {
    padding: 0 10px; } }

@media (max-width: 1024px) {
  .service .feature-info {
    padding: 0 0px; } }
